html {
  height: 100%;
  width: 100%;
}

body {
  background-image: url('path/to/your/image.jpg'); /* Ganti 'path/to/your/image.jpg' dengan path ke gambar Anda */
  background-size: cover; /* Untuk menyesuaikan ukuran gambar dengan ukuran halaman */
  background-repeat: no-repeat; /* Agar gambar tidak diulang */
  background-position: center; /* Untuk menempatkan gambar di tengah halaman */
}